@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&family=Oswald:wght@200;300;400;600&family=Playfair+Display&family=Playfair:wght@300&family=Roboto:ital,wght@0,300;0,400;0,500;1,300&display=swap');
/* font-family: 'Noto Serif', serif;
font-family: 'Oswald', sans-serif;
font-family: 'Playfair', serif;
font-family: 'Playfair Display', serif;
font-family: 'Roboto', sans-serif; */


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    scroll-behavior: smooth;
}

body{
    background: #fff;
}

header{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 1000px;
    padding-bottom: 20px;
}

/* ??? */

.backgroundImage{
    position: absolute;
    width: 100%;
    height: 1000px;
    background-image: url(./images/ropa/valen13.jpeg);
    background-size: cover;
    background-position: center;
    filter: brightness(25%);
    z-index: -1;    
}

.sectionHeader{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 1000px;
    width: 100%;
}

.mainLogo{
    margin: 20px;
}

.links{
    color: #fff;
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 200%;
    font-weight: normal;
    text-decoration: none;
    margin-left: 50px;
    margin-right: 50px;
    transition: 0.5s;
}

.links:hover{
    color: #000;
    text-decoration: none;
}

.bodyPages .links{
    font-size: 200%;
}

footer{
    background-color: #ffffff;
    padding-bottom: 30px;
    padding-top: 30px;
}

.redes{
    text-align: center;
    font-size: 150%;
    text-decoration: none;
    color: #000000;
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
}

.navHeader{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding-top: 40px;
    font-family: 'Oswald', sans-serif;
    text-decoration: none;
}

.contenedorLogo{
    display: flex;
    justify-content: left;
    padding-left: 25px;
    padding-top: 40px;
}

.right{
    flex: 1;
}
.logo{
    width: 80px;
}

.bodyPages header{
    width: 100%;
    height: 100px;
}

.bodyPages header nav{
    display: flex;
    width: 100vw;
    font-family: 'Oswald', sans-serif;
}

.pageLinks{
    display: flex;
    flex: 1;
    justify-content: center;
    color: #000;
}


.bodyPages main{
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: x-large;
    margin-top: 30px;
    text-align: center;
}

.bodyPages main h1{
    margin-bottom: 20px;
}

.aboutUs{
    padding-left: 5%;
    padding-right: 5%;
}

.bodyPages main p{
    font-family: 'Noto Serif', serif;
    font-size: 120%;
}

.pLinks{
    padding: 5px;
    padding-bottom: 20px;
    color: #000;
}

#identMaps{
    display: flex;
    justify-content: center;
}

.bloqueContacto{
    width: 400px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.bloqueContacto input,
.bloqueContacto textarea{
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
}

.bloqueContacto button{
    padding: 10px 20px;
}


.bloqueGaleria{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20%;
    margin-right: 20%;
    height: 100%;
    padding-bottom: 40px;
}

.galeria{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.galeria img{
    width: 100%;
    height: auto;
    border-radius: 20px;
}

/* Galerias de la seccion ropa y accesorios */
.contenedor{
    width: 100%;
    height: auto;
    background: #fff;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 200px);
    gap: 20px;
    padding: 20px;
    grid-template-areas:
    "img1 img2 img3 img10"
    "img1 img2 img3 img10"
    "img4 img5 img6 img10"
    "img4 img5 img6 img10"
    "img7 img8 img9 img10"
    "img7 img8 img9 img10";
}

.item{
    background-size: cover;
    background-position: center;
    border-radius: 20px;
}

/* Ropa */

.item1{
    background-image: url(./images/ropa/valen12.jpeg);
    grid-area: img1;
}

.item2{
    background-image: url(./images/ropa/valen2.jpeg);
    background-position: bottom;
    grid-area: img2;
}

.item3{
    background-image: url(./images/ropa/valen3.jpeg);
    grid-area: img3;
}

.item4{
    background-image: url(./images/ropa/valen4.jpeg);
    grid-area: img4;
}

.item5{
    background-image: url(./images/ropa/valen5.jpeg);
    grid-area: img5;
}

.item6{
    background-image: url(./images/ropa/valen6.jpeg);
    background-position: top;
    grid-area: img6;
}

.item7{
    background-image: url(./images/ropa/valen11.jpeg);
    background-position: center;
    grid-area: img7;
}

.item8{
    background-image: url(./images/ropa/valen8.jpeg);
    grid-area: img8;
}
.item9{
    background-image: url(./images/ropa/valen9.jpeg);
    grid-area: img9;
}

.item10{
    background-image: url(./images/ropa/valen10.jpeg);
    grid-area: img10;
}

/* Accesorios */

.itemA1{
    background-image: url(./images/accesorios/accesorio1.jpeg);
    grid-area: img1;
}

.itemA2{
    background-image: url(./images/accesorios/accesorio2.jpeg);
    background-position: bottom;
    grid-area: img2;
}

.itemA3{
    background-image: url(./images/accesorios/accesorio3.jpeg);
    grid-area: img3;
}

.itemA4{
    background-image: url(./images/accesorios/accesorio4.jpeg);
    grid-area: img4;
}

.itemA5{
    background-image: url(./images/accesorios/accesorio5.jpeg);
    grid-area: img5;
}

.itemA6{
    background-image: url(./images/accesorios/accesorio6.jpeg);
    background-position: top;
    grid-area: img6;
}

.itemA7{
    background-image: url(./images/accesorios/accesorio5.jpeg);
    background-position: top;
    grid-area: img7;
}

.itemA8{
    background-image: url(./images/accesorios/accesorio4.jpeg);
    grid-area: img8;
}

.itemA9{
    background-image: url(./images/accesorios/accesorio3.jpeg);
    grid-area: img9;
}

.itemA10{
    background-image: url(./images/accesorios/accesorio4.jpeg);
    grid-area: img10;
}

.carouselTitle{
    text-align: center;
    font-size: 200%;
    padding-top: 25px;
    padding-bottom: 25px;
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-weight: bold;
}

/* Bootstrap changes */
.fa-solid.fa-chevron-left{
    color: #000;
    font-size: 30px;
}

.fa-solid.fa-chevron-right{
    color: #000;
    font-size: 30px;    
}

.carousel-inner img {
    width: 100%;
    height: auto;
}

.headerButton{
    display: flex;
    justify-content: center;
    align-items: end;
}
