@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&family=Oswald:wght@200;300;400;600&family=Playfair+Display&family=Playfair:wght@300&family=Roboto:ital,wght@0,300;0,400;0,500;1,300&display=swap');

$color-blanco: #fff;
$color-negro: #000;
$font1: "Open Sans",
"Helvetica Neue",
Helvetica,
Arial,
sans-serif;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    ul {
        padding: 0;
        margin: 0;
    }
}

html,
body {
    scroll-behavior: smooth;
}

body {
    background: $color-blanco;
    overflow-x: none;
}

.bodyIndex {
    header {
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100vh;
    }
}

.backgroundImage {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(0, 0, 0, 0.5)),
        url(./images/ropa/valen13.jpeg);
    background-size: cover;
    background-position: center;
    filter: brightness(25%);
    z-index: -1;
}

.sectionHeader {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    height: 100vh;
    width: 100%;

    @media only screen and (max-width: 1024px) {
        a {
            display: flex;
            flex-flow: column wrap;
            margin: 25px;
        }
    }
}

.mainLogo {
    height: 100px;
    width: auto;
    margin: 20px;
    margin-bottom: 60px;

    @media only screen and (max-width: 250px) {
        height: 50px;
        width: auto;
    }
}

.links {
    color: $color-blanco;
    position: relative;
    font-family: $font1;
    font-size: 150%;
    text-transform: uppercase;
    text-decoration: none;
    margin-left: 50px;
    margin-right: 50px;
    transition: 0.5s;

    &:hover {
        color: $color-blanco;
        text-decoration: none;
    }

    &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        bottom: -2px;
        left: 0;
        background-color: $color-blanco;
        visibility: hidden;
        transform: scaleX(0);
        transition: all 0.3s ease-in-out;
    }

    &:hover::after {
        visibility: visible;
        transform: scaleX(1);
    }
}

.bodyPages {
    main {
        font-family: $font1;
        font-size: x-large;
        margin-top: 30px;
        text-align: center;
    }

    h1 {
        margin-bottom: 20px;
        margin-top: 80px;

        @media only screen and (max-width:550px) {
            font-size: 120%;
        }
    }

    p {
        font-family: $font1;
    }
}

.aboutUs {
    padding-left: 5%;
    padding-right: 5%;

    p {
        font-size: 90%;
    }
}

.bloqueContacto {
    width: 400px;
    margin: 0 auto;

    @media only screen and (max-width: 400px) {
        width: 100%;
    }
}

.carouselSection {
    display: flex;
    justify-content: center;
    background-image: url(./images/ropa/photography-g3b78172bf_1920.jpg);
    background-size: cover;
}

.photo-gallery {
    width: 100%;
    margin-top: 100px;

    ul {
        list-style: none;
    }

    h5 {
        padding-top: 5px;
        font-size: small;
        font-weight: bold;
        text-align: start;
        font-family: $font1;
    }

    h6 {
        font-size: small;
        font-weight: bold;
        text-align: start;
    }

    img {
        width: 100%;
        height: auto;
    }
}

.index-galery {
    width: 100%;
    height: auto;

    ul {
        list-style: none;
    }

    li {
        padding: 0;
    }

    img {
        width: 100%;
        height: auto;
    }
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background-color: #888;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

.newsletter {
    width: 800px;
    margin: 0 auto;

    h2 {
        font-size: x-large;
        font-weight: bold;
        text-transform: uppercase;
    }

    div {

        input {
            font-size: x-small;
            height: 40px;
            border: none;
            border-bottom: 1px solid #000;
        }

    }

    @media only screen and (max-width: 800px) {
        width: 100%;
    }
}

.bloqueNewsletter{
    width: 100%;
    border-top: 1px solid #000;
}

/* Bootstrap changes */
.fa-solid.fa-chevron-left {
    color: $color-negro;
    font-size: 30px;
}

.fa-solid.fa-chevron-right {
    color: $color-negro;
    font-size: 30px;
}

.carousel {
    display: flex;
    align-items: center;
    width: 40%;

    @media only screen and (max-width: 768px) {
        width: 100%;
        height: auto;
    }
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.nav-link {
    font-size: 150%;
    font-family: $font1;
    font-weight: 100;
}